li{
    padding:1vh;
}

.texto{
    
    text-align: justify;
    text-justify: inter-word;
    width: 90%;
    padding-top: 1vh;
    padding-bottom: 1vh; 
    margin: auto;
    
}
.formulas{
    
    width: 90%;
    padding-top: 1vh;
    padding-bottom: 1vh;  
    font-size: 20px;
    margin: auto;
}
.resultado{
    
    width: 90%;
    padding-top: 1vh;
    padding-bottom: 1vh;  
    font-size: 20px;
    margin: auto;
    border: 4px solid red;
    padding:auto;
}

.antesDe{
box-sizing:border-box;
border: 2px solid black;
background-color: rgba(141, 140, 140, 0.1);
font-size:15px;
padding:15px;
    margin: auto;
}

ol.enunciado{
list-style-type: lower-alpha;
}

.split{

    /* Mostrar la rejilla de la división */
    display: grid;

    /* Dividir la rejilla en dos columnas y asignar la mitad del espacio 
    disponible a cada una */
    grid-template-columns: 1fr 1fr;

    /* Dividir la rejilla en cinco filas y asignar a cada una el espacio 
    necesario */
    grid-template-rows: 1fr;

    /* Determinar la posición que tendrá cada celda dentro del contenedor 
    principal */
    grid-template-areas:"izq    dcha ";

    /* Espaciado entre celdas */
    grid-gap:0px;   

    /* Alinear horizontalmente elementos en las celdas del contenedor */
    justify-items:center;

    /* Alinear verticalmente elementos en las celdas del contenedor */
    align-items: center; 
    
    Width:90%

}

.split .izq{

    /* Atribuir celda(s) a la clase */
    grid-area: izq;

    /* Centrar temperatura sobre la imagen del display */
    position: relative;
    
    width:100%;
}
.split .dcha{

    /* Atribuir celda(s) a la clase */
    grid-area: dcha;

    /* Centrar temperatura sobre la imagen del display */
    position: relative;
    
    width:100%;

}
   
.aviso{
    display:none;
}
